<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <%= link_to('Logout', {:controller => "users", :action => 'destroy'}, :method => :delete, class: "blog_home_logout" ) %>
    </div>
  </div>
</div>


<div ng-controller="BlogController">

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4 class="user_session_signedInAs_txt">
        Signed in as:
        <span class="user_session_email"><%= session[:email] %></span>
        </h4>
        <h4>
        </h4>
        <h1 class="search_blogs_heading default_headers">Search Blogs</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-2 col-md-2"></div>
      <div class="col-sm-8 col-md-8">
        <h6 class="search_blogs_label">Enter "title" or "date"</h6>
        <input type="text" class="search_blogs_input" ng-model="search_blogs" placeholder=" Title or Date" autofocus>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2"></div>
      <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="blog_search_div" ng-repeat="blog in blogs | filter: search_blogs | xFutureDates | limitTo: 15" ng-show="search_blogs">
          <br>
          <br>
          <a href="/blog_page?date={{blog.date}}">
            <p class="blog_search_date">{{blog.date}}</p>
            <p class="blog_search_title">{{blog.title}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <img class="spa_room_image" src="/assets/SpaTreatmentRoom.jpg">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row text-center">
      <h1 class="recent_blogs_heading default_headers">Recent Blogs</h1>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div ng-repeat="blog in blogs | recentMonths | limitTo:10">
          <a href="/blog_page?date={{blog.date}}">
            <p class="blog_recentBlogs_date">{{blog.date}}</p>
            <p class="blog_recentBlogs_title">{{blog.title}}</p>
            <p class="blog_recentBlogs_description">{{blog.description.trunc(140)}}Read More</p>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid blogs_index">
    <div class="row">
      <div class="soothingCandleImage_div">
        <div class="col-md-6 text-left">
          <img class="soothingSpaCandle_image" src="/assets/soothingSpaCandle.jpg">
          <img class="soothingSpaCandle_image_02" src="/assets/soothingSpaCandle02.jpg">
          <img class="soothingSpaCandle_image_03" src="/assets/soothingSpaCandle03.jpg">
        </div>
      </div>
      <div class="col-md-6 text-right">
        <h4 class="blog_index_heading text-center">Recent Blogs</h4>
        <div class="text-center">
          <div ng-repeat="blog in blogs | recentMonths | limitTo:10">
            <a href="/blog_page?date={{blog.date}}">
              <h6 class="archives_index_blog_title">{{blog.title}}</h6>
            </a>
          </div>
        </div>
        <h4 class="blog_index_heading text-center">Categories</h4>
        <div class="text-center">
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Body Contouring'">Body Contouring</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Breast Reduction Liposuction'">Breast Reduction Liposuction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Breast Reduction Surgery'">Breast Reduction Surgery</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Cosmetic Surgery'">Cosmetic Surgery</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Cosmetic Surgery Procedures'">Cosmetic Surgery Procedures</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Facelift'">Facelift</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Fat Grafting'">Fat Grafting</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Gynecomastia'">Gynecomastia</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Infographics'">Infographics</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Laser Lift'">Laser Lift</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Laser Liposuction'">Laser Liposuction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Liposuction'">Liposuction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Liposuction Surgery'">Male Breast Reduction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Neck Liposuction'">Neck Liposuction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Non-Invasive Procedures'">Non-Invasive Procedures</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Plastic Surgeons'">Plastic Surgeons</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Plastic Surgery'">Plastic Surgery</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='SmartLipo'">SmartLipo</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='SmartLipo Triplex'">SmartLipo Triplex</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Weight Loss'">Weight Loss</a></h6>
        </div>
        <h4 class="blog_index_heading text-center">Archives</h4>
        <div class="text-center">
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='March 2016'">March 2016</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='February 2016'">February 2016</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='January 2016'">January 2016</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='December 2015'">December 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='November 2015'">November 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='October 2015'">October 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='March 2015'">March 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='February 2015'">February 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='January 2015'">January 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='December 2014'">December 2014</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='November 2014'">November 2014</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='October 2014'">October 2014</a></h6>
        </div>
      </div>
    </div>
  </div>


</div>