<!-- <div ng-controller="MyController">

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2 class="blogs_home_heading">Timeless Esthetics: Blogs</h2>
      </div>
    </div>
  </div> -->

  <!-- Search -->
<!-- <div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
    <h1>Search Blogs</h1>
    <input type="text" ng-model="search_blogs" autofocus>
  </div>
</div>
   <div class="row text-center">
    <div class="col-xs-12">
    <ul ng-show="search_blogs">
      <li ng-repeat="blog in blogs | filter: search_blogs | xFutureDates">
        <a href='{{blog.year_id}}'>{{blog.title}}</a>
        <br>
        <br>
      </li>
    </ul>
    </div>
  </div>
</div> -->



  <!-- Recent Blogs -->
<!--   <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
      <h1>Recent Blogs</h1>
      <h5 ng-repeat="blog in blogs | recentMonths | limitTo:10">
        {{blog.title}}
        <br>
        <br>
      </h5>
      </div>
    </div>
  </div>

 -->
  <!-- Blog Archives/Categories/Recent -->
<!--   <div class="container-fluid">
    <div class="row">
    </div>
  </div>

</div> -->


<div ng-controller="MyController">

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-12">
        <h4 class="search_blogs_heading">Search Blogs</h4>
        <h6>Enter "title" or "date"</h6>
        <input type="text" class="search_blogs_input" ng-model="search_blogs" placeholder=" Title or Date" autofocus>
      </div>
    </div>
    <div class="row">
     <div class="col-xs-12">
      <div class="col-xs-12 blog_search_div" ng-repeat="blog in blogs | xFutureDates | filter: search_blogs | limitTo:10" ng-show="search_blogs">
        <br>
        <br>
        <a href="{{blog.link}}">
          <p class="blog_search_date">{{blog.date}}</p>
          <p class="blog_search_title">{{blog.title}}</p>
        </a>
      </div>
     </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <img class="spa_room_image" src="/assets/SpaTreatmentRoom.jpg">
    </div>
  </div>



  <div class="container-fluid">
    <div class="row text-center">
      <h4 class="recent_blogs_heading">Recent Blogs</h4>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <div ng-repeat="blog in blogs | recentMonths | limitTo:10">
        <a href="{{blog.link}}">
          <p class="blog_recentBlogs_date">{{blog.date}}</p>
          <p class="blog_recentBlogs_title">{{blog.title}}</p>
          <p class="blog_recentBlogs_description">{{blog.description.trunc(140)}}Read More</p>
        </a>
      </div>
    </div>
    </div>
  </div>



<div class="container-fluid blogs_index">
  <div class="row text-center">
      <h4 class="blog_index_heading">Categories</h4>
  </div>
  <div class="row text-left">
    <div class="col-xs-12">
      <ul>
        <li><h5><a href="#">Arm Liposuction</a></h5></li>
        <li><h5><a href="#">Body Contouring</a></h5></li>
        <li><h5><a href="#">Breast Reduction Liposuction</a></h5></li>
        <li><h5><a href="#">Breast Reduction Surgery</a></h5></li>
        <li><h5><a href="#">Bridal Liposuction</a></h5></li>
        <li><h5><a href="#">Cosmetic Surgery</a></h5></li>
        <li><h5><a href="#">Cosmetic Surgery Procedures</a></h5></li>
        <li><h5><a href="#">Gynecomastia</a></h5></li>
        <li><h5><a href="#">Infographics</a></h5></li>
        <li><h5><a href="#">Laser Lift</a></h5></li>
        <li><h5><a href="#">Laser Liposuction</a></h5></li>
        <li><h5><a href="#">Liposuction</a></h5></li>
        <li><h5><a href="#">Liposuction Surgery</a></h5></li>
        <li><h5><a href="#">Male Breast Reduction</a></h5></li>
        <li><h5><a href="#">Neck liposuction</a></h5></li>
        <li><h5><a href="#">Non-invasive Procedure</a></h5></li>
        <li><h5><a href="#">Plastic Surgeons</a></h5></li>
        <li><h5><a href="#">Plastic Surgery</a></h5></li>
        <li><h5><a href="#">SmartLipo</a></h5></li>
        <li><h5><a href="#">SmartLipo Triplex</a></h5></li>
        <li><h5><a href="#">Weight Loss</a></h5></li>
      </ul>
    </div>
  </div>
</div>


<div class="container-fluid blog_index">
  <div class="row text-center">
      <h4 class="blog_index_heading">Archives</h4>
  </div>
  <div class="row text-left">
    <div class="col-xs-12">
      <ul>
         <li><h5><a href="#">September 2015</a></h5></li>
         <li><h5><a href="#">August 2015</a></h5></li>
         <li><h5><a href="#">July 2015</a></h5></li>
         <li><h5><a href="#">June 2015</a></h5></li>
         <li><h5><a href="#">May 2015</a></h5></li>
         <li><h5><a href="#">April 2015</a></h5></li>
         <li><h5><a href="#">March 2015</a></h5></li>
         <li><h5><a href="#">February 2015</a></h5></li>
         <li><h5><a href="#">January 2015</a></h5></li>
         <li><h5><a href="#">December 2014</a></h5></li>
         <li><h5><a href="#">November 2014</a></h5></li>
         <li><h5><a href="#">October 2014</a></h5></li>
         <li><h5><a href="#">September 2014</a></h5></li>
         <li><h5><a href="#">August 2014</a></h5></li>
         <li><h5><a href="#">July 2014</a></h5></li>
         <li><h5><a href="#">June 2014</a></h5></li>
         <li><h5><a href="#">May 2014</a></h5></li>
         <li><h5><a href="#">April 2014</a></h5></li>
         <li><h5><a href="#">March 2014</a></h5></li>
         <li><h5><a href="#">February 2014</a></h5></li>
         <li><h5><a href="#">December 2013</a></h5></li>
         <li><h5><a href="#">November 2013</a></h5></li>
      </ul>
    </div>
  </div>
</div>
</div>




</div>