<div class="container-fluid">
  <div class="row text-center">
    <h1 class="blogs_home_heading">Timeless Esthetics: Blogs</h1>
  </div>
</div>

<!-- Search -->
<div class="container-fluid" ng-controller="MyController">
  <div class="row">
  </div>
</div>


<!-- Recent Blogs -->
<div class="container-fluid" ng-controller="MyController">
  <div class="row">
  </div>
</div>


<!-- Blog Archives/Categories/Recent -->
<div class="container-fluid" ng-controller="MyController">
  <div class="row">
  </div>
</div>