<div ng-controller="BlogController">

  <div class="container-fluid">
    <div class="row text-center">
      <h1>October 2015</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li ng-repeat="blog in blogs | onlyOctober2015">
            <p>{{blog.date}}</p>
            <p>{{blog.title}}</p>
            <p>{{blog.description.trunc(150)}}Read More</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>