<div ng-controller="BlogController">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-12">
        <h3 class="month_page_heading"><%= @month_year %></h3>
      </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <ul>
          <li ng-repeat="blog in blogs | blogByMonthYear: <%= @month_year %> | xFutureDates">

              <a href="/blog_page?date={{blog.date}}">
              <p class="default_blogArchives_date">{{blog.date}}</p>
              <p class="default_blogArchives_title">{{blog.title}}</p>
              <p class="default_blogArchives_description">{{blog.description.trunc(150)}}
              <span style="color:blue">Read More</span></a>
              </p>

          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="container-fluid blogs_index">
    <div class="row">
      <div class="soothingCandleImage_div">
        <div class="col-md-6 text-left">
          <img class="soothingSpaCandle_image" src="/assets/soothingSpaCandle.jpg">
          <img class="soothingSpaCandle_image_02" src="/assets/soothingSpaCandle02.jpg">
          <img class="soothingSpaCandle_image_03" src="/assets/soothingSpaCandle03.jpg">
        </div>
      </div>
      <div class="col-md-6 text-right">
        <h4 class="blog_index_heading text-center">Recent Blogs</h4>
        <div class="text-center">
          <div ng-repeat="blog in blogs | recentMonths | limitTo:10">
            <a href="/blog_page?date={{blog.date}}">
              <h6 class="archives_index_blog_title">{{blog.title}}</h6>
            </a>
          </div>
        </div>
        <h4 class="blog_index_heading text-center">Categories</h4>
        <div class="text-center">
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Body Contouring'">Body Contouring</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Breast Reduction Liposuction'">Breast Reduction Liposuction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Breast Reduction Surgery'">Breast Reduction Surgery</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Cosmetic Surgery'">Cosmetic Surgery</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Cosmetic Surgery Procedures'">Cosmetic Surgery Procedures</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Facelift'">Facelift</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Fat Grafting'">Fat Grafting</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Gynecomastia'">Gynecomastia</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Infographics'">Infographics</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Laser Lift'">Laser Lift</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Laser Liposuction'">Laser Liposuction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Liposuction'">Liposuction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Liposuction Surgery'">Male Breast Reduction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Neck Liposuction'">Neck Liposuction</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Non-Invasive Procedures'">Non-Invasive Procedures</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Plastic Surgeons'">Plastic Surgeons</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Plastic Surgery'">Plastic Surgery</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='SmartLipo'">SmartLipo</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='SmartLipo Triplex'">SmartLipo Triplex</a></h6>
          <h6 class="blog_category_links"><a href="/blog_category_archive?category='Weight Loss'">Weight Loss</a></h6>
        </div>
        <h4 class="blog_index_heading text-center">Archives</h4>
        <div class="text-center">
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='October 2015'">October 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='September 2015'">September 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='August 2015'">August 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='July 2015'">July 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='June 2015'">June 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='May 2015'">May 2015</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='October 2014'">October 2014</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='September 2014'">September 2014</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='August 2014'">August 2014</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='July 2014'">July 2014</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='June 2014'">June 2014</a></h6>
          <h6 class="blog_months_links"><a href="/blog_month_archive?month_year='May 2014'">May 2014</a></h6>
        </div>
      </div>
    </div>
  </div>
</div>