<div class="container-fluid">
  <div class="row text-center">
    <h1 class="about_header default_headers">About</h1>
  </div>
</div>

<div class="container-fluid about_container">
  <div class="row text-center">
    <h4 class="about_page_top_info_header">Perfect Skin Starts Here</h4>
    <div class="col-xs-2 col-sm-1 col-md-2"></div>
    <div class="col-xs-8 col-sm-10 col-md-8">
      <img class="perfect_skin_image" src="/assets/perfectSkinImage.jpg">
    </div>
  </div>
  <div class="row text-left">
    <p class="about_description_1">
      Timeless Laser Cosmetic Surgery offers a comprehensive array of Skin and Body Treatments. Our Facial Treatments include a pampering Medical Facial using Medical Skin Care Products selected especially for your skin type.
      <br>
      <br>
      Medical treatments include Medical Peels, Microdermabrasion and Derma Fillers. Palomar Facial Therapies include Fractional Laser and Intense Pulsed Light to address Sun Damage, Age Spots, Acne, Rosacea and Facial Veins.
        <br>
        <br>
      Body Treatments include the latest technology in Hair Removal, Leg Vein Reduction, Age Spot and Scar reduction Therapies. To address Cellulite we can prescribe various methods including Mesotherapy, Carbossi as well as Lipo Dissolve.
    </p>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-3 col-md-4"></div>
    <div class="col-xs-8 col-sm-6 col-md-4">
      <img class="dr_solomon_image" src="/assets/drsolomon.jpg">
    </div>
  </div>
  <div class="row text-left">
    <p class="about_description_2">
      Dr. Solomon is a double Board Certified Physician. He has performed over 5000 cosmetic procedures. Dr. Solomon has trained with World Renowned Cosmetic and Anti-Aging Physicians and Surgeons from all over the world.<br><br>

      He also is a national speaker and has physicians come to his office to gain insight on procedural techniques. He has given many lectures and taught workshops to other doctors and surgeons in cosmetics and liposuction.<br><br>

      Dr. Solomon has received the Award of Excellence in Cosmetic Surgery Education and Hair Transplant Surgery Education. Dr. Solomon started his medical career in the United States Navy at the Naval Hospital San Diego and worked as a microbiologist and a clinical laboratory scientist after completing his undergraduate degree from San Diego State University.<br><br>

      Following his love for science, Dr. Solomon continued his post graduate studies at UCLA and California State Dominguez Hills. He pursed his medical career and finished his Residency from the Kansas University School of Medicine and his dermatology training at Cardiff university, England.<br><br>

      Dr. Solomon has been in Florida since 1997. In 2002, with the start of FDA approval of Botox® and fillers, Dr. Solomon started his training in Cosmetic Medicine and Surgery. Cosmetic Medicine and Surgery, which is different from Plastic and Reconstructive Surgery, is a specialty that is dedicated to Aesthetics and Cosmetics only. Those physicians who specialize in Cosmetic Medicine and Surgery are the ones who went and received the extra education as the field evolved and more products and procedures came to path.<br><br>

      Currently Dr. Solomon is in the Air Force reserves as a Major. Dr. Solomon’s patients could not be fonder of him for his meticulous attention to detail and his willingness to take time on procedures to ensure that every inch of the desired area is up to his high, artistic standards.
    </p>
  </div>
  <div class="row text-center">
    <h4 class="about_memberships_header">Memberships and Affiliations</h4>
  </div>
  <div class="row text-left">
    <ul class="text-left">
        <li class="about_memberships_text">Member of the World Academy of Cosmetic Surgeons.</li>
        <li class="about_memberships_text">Member of the International and European Academy of Cosmetic Surgeons.</li>
        <li class="about_memberships_text">Associate of the American Academy of Cosmetic Surgery.</li>
        <li class="about_memberships_text">Member of the American Society of Cosmetic Breast Surgery.</li>
        <li class="about_memberships_text">Diplomate of American Board of Laser Medicine and Surgery</li>
        <li class="about_memberships_text">Diplomate of American Academy of Anti-Aging and Regenerative Medicine</li>
        <li class="about_memberships_text">Fellow of the American Academy of Anti-Aging and Regenerative Medicine</li>
        <li class="about_memberships_text">Associate of the International Society of Hair Transplant Surgery.</li>
        <li class="about_memberships_text">Member of the International Society of Cosmetic Gynecologists.</li>
        <li class="about_memberships_text">Member of the American Academy of Bariatric Physicians.</li>
        <li class="about_memberships_text">Speaker for the American Academy of Cosmetic Physicians.</li>
      </ul>
  </div>
</div>