<div class="container-fluid">
  <div class="row text-center">
    <h1 class="for_men_header">For Men</h1>
    <div class="col-xs-2 col-sm-1 col-md-2"></div>
    <div class="col-xs-8 col-sm-10 col-md-8">
      <img class="for_men_hero_image" src="/assets/forMenHeroImage.jpg">
    </div>
  </div>
</div>

<div class="container-fluid for_men_procedure_containers">
  <div class="row text-center">
    <h4 class="for_men_procedure_title">Gynecomastia (Male Breast Reduction)</h4>
  </div>
  <div class="row text-left">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <p class="for_men_procedure_description comment more">
      Men and boys can have the abnormal development of breast tissue. This can produce an appearance that is very difficult and uncomfortable for any man or boy to deal with.<br><br> Smartlipo is an ideal treatment option for gynecomastia as it is minimally invasive, leaves very small scars that eventually will fade and it requires minimal downtime.<br><br> The benefit of the Smart Lipo technology is not only is the fat removed but there is also the overall tightening of the skin tissue.<br><br> For patients who are candidates for this procedure Smartlipo allows for an excellent improvement of this condition with very little downtime.
    </p>
    </div>
  </div>
</div>

<div class="container-fluid for_men_procedure_containers_2">
  <div class="row text-center">
    <h4 class="for_men_procedure_title">Male Body Contouring (Smartlipo)</h4>
  </div>
  <div class="row text-left">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <p class="for_men_procedure_description comment more">
      The areas for body contouring for men that prove the best results are the chest, abdomen and love handles. All of these areas are easily treated with the Smartlip technology and require minimal down time.<br><br> The added benefit of the skin tightening helps those who have diminished skin tone and some excess skin after the fat is removed.<br><br> The incisions are very small and the only requirement is that the patient wears their garment for the required amount of time after the procedure is performed.
    </p>
    </div>
  </div>
</div>


<div class="container-fluid for_men_procedure_containers_2">
  <div class="row text-center">
    <h4 class="for_men_procedure_title">Hair Removal (IPL)</h4>
  </div>
  <div class="row text-left">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <p class="for_men_procedure_description comment more">
      Many men have excess body hair that they would like removed. Another issue for many men is the appearance of hair in areas of the body that they would prefer there was no hair at all.<br><br> Laser hair removal is an excellent option for both of the above mentioned issues. For men who desire to remove hair from the chest and back laser hair removal is the best choice.<br><br> It is much less painful than waxing and the results are relatively permanent. Usually 6 to 8 sessions are required and the procedure is painless with each session lasting approximately 30 to 45 minutes.
    </p>
    </div>
  </div>
</div>
