<div class="container-fluid">
  <div class="row text-center">
    <h1 class="gallery_heading">Gallery</h1>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12">
      <h4 class="below_gallery_header_text">Don’t let financial worries stop you from getting the medical attention you need.
We work with United Medical Credit.</h4>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2"></div>
    <div class="col-xs-10 col-sm-8">
      <img class="default_before_after_images" src="/assets/beforeAfterImage1.jpg">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <img class="default_before_after_images" src="/assets/beforeAfterImage2.jpg">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <img class="default_before_after_images" src="/assets/beforeAfterImage3.jpg">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <img class="default_before_after_images" src="/assets/beforeAfterImage4.jpg">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <img class="default_before_after_images" src="/assets/beforeAfterImage5.jpg">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <img class="default_before_after_images" src="/assets/beforeAfterImage6.jpg">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <img class="default_before_after_images" src="/assets/beforeAfterImage7.jpg">
    </div>
  </div>
</div>