



<div class="container-fluid">
  <div class="row">
    <img class="index_page_hero_img" src="/assets/timelessEstheticsHero.jpg">
  </div>
</div>

<div class="container-fluid">
  <div class="row mission_statement_row text-center">
    <div class="col-xs-6">
      <p class="mission_statement_text_top">Mission</p>
      <p class="mission_statement_text_bottom">Statement</p>
      <p class="mission_statement_message">Timeless Esthetics is committed to providing exceptional customer service and innovative products that improves your total wellness. Contact us for a FREE Consultation.</p>
    </div>
    <div class="col-xs-6">
      <img class="mission_statement_icon_right" src="/assets/missionStatementIcon.png">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center">
    <p class="under_mission_statement_message">Timeless Esthetics is a total wellness center specializing in cosmetics. We are the premier destination for laser fat removal, laser hair removal and cosmetic injections.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <img class="timeless_office_image" src="/assets/timelessOfficeImage.jpg">
  </div>
</div>
