<div class="container-fluid">
  <div class="row text-center">
    <h1 class="international_header default_headers">International</h1>
  </div>
</div>

<div class="container-fluid international_container">
  <div class="row text-left">
    <div class="col-xs-12 col-sm-12 col-md-12 col-md-12">
      <h3 class="international_heading_titles"><strong>International Patients</strong></h3>
      <p class="international_description_text">
        Timeless Esthetics™ is dedicated to providing international patients with quality care and treatment. Many of our patients routinely fly in for surgery from around the country and from around the world because of the easy accessibility of our Kissimmee/Orlando City location.<br><br>
        Conveniently located a mile from the turnpike, we are only steps away from The Hyatt and Ritz-Carlton Hotel in Orlando. If you choose to undergo SmartLipo Triplex liposuction procedure at our practice, we will be more than happy to help you make arrangements for your stay in the area.
      </p>
    </div>
  </div>

  <div class="row text-left">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="international_heading_titles"><strong>Our Recommended Hotels</strong></h3>
      <p class="international_description_text">
        We are glad to recommend the following hotels close to our plastic surgery facility. <a href="http://orlandoairport.hyatt.com/en/hotel/home.html">The Hyatt Regency International</a>, <a href="http://www.ritzcarlton.com/en/Properties/Orlando/Default.htm">The Ritz-Carlton Grand Lakes</a>, <a href="http://www.waldorfastoriaorlando.com/">Waldorf Astoria Orlando</a> and <a href="http://www.marriott.com/hotels/travel/mcogp-gaylord-palms-resort-and-convention-center/">Gaylord Palms Kissimmee</a> offers all the elegance and charm of a private home in the heart of Orlando, the hotels provide all the amenities for a comfortable stay.
      </p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-md-8">
      <h4 class="hotel_title"><strong>Hyatt Regency Orlando International</strong></h4>
      <iframe class="international_iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14034.408459683738!2d-81.3075095!3d28.4312604!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe565d30e457c1b06!2sHyatt+Regency+Orlando+International+Airport!5e0!3m2!1sen!2sus!4v1438400222348" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-md-8">
      <h4 class="hotel_title"><strong>The Ritz-Carlton Orlando, Grand Lakes</strong></h4>
      <iframe class="international_iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.4645588703734!2d-81.429017!3d28.405235999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77dfdb7bc3165%3A0x499e51a1f80ce26a!2sThe+Ritz-Carlton+Orlando%2C+Grande+Lakes!5e0!3m2!1sen!2sus!4v1438400392882" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-md-8">
      <h4 class="hotel_title"><strong>Waldorf Astoria Orlando</strong></h4>
      <iframe class="international_iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14044.761558849452!2d-81.533531!3d28.353093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x82193b7d52d5732b!2sWaldorf+Astoria+Orlando!5e0!3m2!1sen!2sus!4v1438400546937" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-md-8">
      <h4 class="hotel_title"><strong>Gaylord Palms Kissimmee</strong></h4>
      <iframe class="international_iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3511.5507577961657!2d-81.526477!3d28.342194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd7f6608984097%3A0xc14a199c1b694e2f!2sGaylord+Palms+Resort+%26+Convention+Center!5e0!3m2!1sen!2sus!4v1438400697913" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row text-left">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="clarification_header international_heading_titles"><strong>For Clarification and Assistance</strong></h3>
      <p class="international_description_text">
        Call 407-933-8004 or <a href="/contact">contact</a> our International Patient Coordinator: Pamella Yates. Our International Coordinator will get in touch with you with all the required details and travel advice.
      </p>
    </div>
  </div>

  <div class="row text-left">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="international_heading_titles"><strong>Getting Started</strong></h3>
      <p class="international_description_text">
        Based on your schedule, you can fly-in for the surgery on a convenient date. Our staff will guide you through the entire process. It all takes place in three easy steps:
      </p>
    </div>
  </div>

    <div class="row text-left">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="international_heading_titles"><strong>Step One:</strong> <span class="smaller_font">Initial Consultation</span></h3>
      <p class="international_description_text">
        Come to our Kissimmee office for an initial in-person consultation.<br><br> This initial examination is an important part of the process as it helps to determine the future course of action and also keeps you informed of the steps you need to take to prepare for surgery and the time period required for recovery.<br><br> Those finding it difficult to travel can arrange for an educational and informative virtual consultation over the Internet with one of our non-physician staff members. The purpose of the virtual consultation is to provide you an opportunity to obtain more information about the SmartLipo Triplex liposuction procedure to assist you in deciding whether to travel to our Kissimmee office for an initial in-person consultation with one of our plastic surgeons.<br><br> In addition, the virtual consultation enables us to obtain from you certain preliminary information about your medical history and medical condition which our plastic surgeons can review subsequent to your virtual consultation but prior to your in-person consultation to assist them in determining your eligibility for SmartLipo laser liposuction treatment.<br><br> If, after conducting a virtual consultation, you are still interested in obtaining SmartLipo treatment, the next step would be to schedule an in-person consultation with one of our plastic surgeons. Click here for our virtual consultation procedure.
      </p>
    </div>
  </div>

      <div class="row text-left">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="international_heading_titles"><strong>Step Two: <span class="smaller_font">Scheduling Your Visit and Pre-Surgery Examination(PSE)</span></strong></h3>
      <p class="international_description_text">
        After your initial consultation, if you decide to go ahead with your SmartLipo procedure, we will explain the scheduling options and provide assistance with hotel arrangements.<br><br> We will also arrange for your pre-surgery medical examination, by one of our trained plastic surgeons, to confirm your medical eligibility for surgery. To secure dates for surgery, you are required to pay a deposit by either check or credit card. Final payment needs to be made at the pre-operative visit.<br><br> Shortly after your SmartLipo Triplex liposuction treatment is scheduled, you will receive copies of various consent forms and useful instructions for you to review.<br><br> On the first day you arrive, one of our plastic surgeons will meet with you to conduct a detailed pre-operative medical examination, give you pre- and post-operative instructions and go over the consent forms with you.<br><br> After we have explained everything and answered all of your questions, you will then sign all of the consent forms.
      </p>
    </div>
  </div>

  <div class="row text-left">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="international_heading_titles"><strong>Step Three: <span class="smaller_font">Surgery and Recovery</span></strong></h3>
      <p class="international_description_text">
        SmartLipo liposuction surgery is scheduled 24-48 hours after your arrival.<br><br> Following the procedure, it is recommended that you remain in Kissimmee/Orlando approximately 7-10 days to ensure a safe recovery.<br><br> All patients are assured expert care and treatment by our Florida State-licensed Plastic Surgeon.
      </p>
    </div>
  </div>

</div>

