<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-12 col-md-12">
    <h1 class="location_heading default_headers">Location and Directions</h1>
  </div>
  </div>
  <div class="row text-center">
    <h4 class="location_timeless-esthetics_header">Timeless Esthetics</h4><span class="text-underline">1056 E. Osceola Parkway<br>Kissimmee, Florida 34744</span>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center">
    <a href="https://www.google.com/maps/place/1056+E+Osceola+Pkwy,+Kissimmee,+FL+34744/@28.339647,-81.393605,16z/data=!4m2!3m1!1s0x88dd86f1ca1a8669:0x974ea84af8f29653?hl=en-US"><h5 class="location_get_directions">Get Directions</h5></a>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8">
    <iframe class="location_iframe" width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1056+E+Osceola+Pkwy,+Kissimmee,+FL+34744,+USA&amp;key=AIzaSyB9ej8qRyDcvkxFrVY5w5sMZ_TU9syvDUk" allowfullscreen></iframe>
  </div>
  </div>
</div>