<div class="container-fluid">
  <div class="row text-center">
    <h1 class="media_header">Media</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <iframe width="100%" src="https://www.youtube.com/embed/BV1YTeqfkqk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12">
      <div class="under_media_description_div">
        <h4>Live Smart Lipo Procedure (2011)</h4>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <iframe width="100%" src="https://www.youtube.com/embed/IGe50z_SR58" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12">
      <div class="under_media_description_div">
        <h4>What is Venus Freeze? (2011)</h4>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <iframe width="100%" src="https://www.youtube.com/embed/w8bpdxqaG-A" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12">
      <div class="under_media_description_div">
        <h4>Univision Commercial (2011)</h4>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">
      <iframe width="100%" src="https://www.youtube.com/embed/AP546kbbCYg" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12">
      <div class="under_media_description_div">
        <h4>Univision Commercial: 2 (2011)</h4>
      </div>
    </div>
  </div>
</div>



