<div class="container-fluid">
  <div class="row text-center">
    <h1 class="procedures_heading default_headers">Procedures</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
    <a href="#">
      <h3 class="procedure_text">Body Procedures</h3>
        <img class="procedure_image" src="/assets/bodyProcedureImage.jpeg">
      <h5 class="procedure_price">Starting at: $99</h5>
    </a>
  </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
    <a href="#">
      <h3 class="procedure_text">Botox Injections</h3>
        <img class="procedure_image" src="/assets/botoxInjectionHero.png">
      <h5 class="procedure_price">Starting at: $75</h5>
    </a>
  </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
    <a href="#">
      <h3 class="procedure_text">Facial Treatments</h3>
        <img class="procedure_image" src="/assets/facialTreatmentImage.jpeg">
      <h5 class="procedure_price">Starting at: $50</h5>
    </a>
  </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
    <a href="#">
      <h3 class="procedure_text">Hair Removal</h3>
        <img class="procedure_image" src="/assets/hairRemovalImage.jpg">
      <h5 class="procedure_price">Starting at: $90</h5>
    </a>
  </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
    <a href="#">
      <h3 class="procedure_text">Laser Procedures</h3>
        <img class="procedure_image" src="/assets/laserProcedureImage.jpeg">
      <h5 class="procedure_price">Starting at: $199</h5>
    </a>
  </div>
  </div>
</div>