<div class="container-fluid">
  <div class="row text-center">
    <h1 class="vip_header">VIP</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <img class="red_carpet_image" src="/assets/redCarpet.jpg">
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <table>
        <thead>
          <tr>
            <th><h4 class="gold_membership_th">Gold Membership</h4></th>
            <th><h4 class="platinum_membership_th">Platinum Membership</h4></th>
          </tr>
          </thead><tbody>
            <tr>
              <td>Timeless 1 Hour Signature Facial</td>
              <td>Timeless 1 Hour Signature Facial</td>
            </tr>
            <tr>
              <td>1 Small Area Laser Hair Reduction</td>
              <td>1 Small Area Laser Hair Reduction</td>
            </tr>
            <tr>
              <td>10% off of any products or services</td>
              <td>15% off of any products or services</td>
            </tr>
            <tr>
              <td></td>
              <td>Complimentary choice of wine/champagne with every visit!</td>
            </tr>
            <tr>
              <td></td>
              <td>Locked in Botox Special! Only $8.88 is Great per Unit</td>
            </tr>
            <tr>
              <td class="vip_price"><strong>$99/month</strong></td>
              <td class="vip_price"><strong>$199/month</strong></td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>