.about_header {
  text-shadow: 0px 0px 9px black;
}

.about_page_top_info_header {
  margin-top: 2em;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 15px white;
}

.about_container {
  color: white;
  background-color: rgb(66, 66, 66);
}

.perfect_skin_image {
  width: 100%;
  margin-bottom: 1em;
}

.about_description_1 {
  padding: 1em;
  letter-spacing: 0.05em;
}

.dr_solomon_image {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}

.about_description_2 {
  padding: 1em;
  letter-spacing: 0.05em;
}

.about_memberships_header {
  margin-top: 2em;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 15px white;
}

.about_memberships_text {
  padding: 1em;
  letter-spacing: 0.05em;
}







/*Tablet*/

@media (min-width: 768px) and (max-width: 991px) {
  .about_header {
    font-size: 5em;
  }

  .about_page_top_info_header {
    font-size: 2.5em;
  }

  .about_description_1 {
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-size: 1.8em;
  }

  .about_description_2 {
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-size: 1.8em;
  }

  .about_memberships_header {
    font-size: 2.5em;
    margin-bottom: 1em;
  }

  .about_memberships_text {
    font-size: 1.8em;
  }
}







/*Desktop*/


@media (min-width: 992px) {


  .about_header {
    font-size: 3em;
    margin-bottom: 1em;
  }

  .about_page_top_info_header {
    font-size: 2em;
  }

  .about_description_1 {
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-size: 1.5em;
  }

  .about_description_2 {
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-size: 1.5em;
  }

  .about_memberships_header {
    font-size: 2.5em;
    margin-bottom: 1em;
  }

  .about_memberships_text {
    font-size: 1.5em;
  }

}