/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 font-family: 'Raleway', sans-serif;
}

a:hover {
  text-decoration: none;
}

.js-menu-dd-container {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.js-menu-dd {
 background-color: #353535;
 display: none;
}

.nav-menu-dd-text {
 color: white;
 letter-spacing: 0.05em;
 margin-bottom: 1.5em;
 margin-left: 1em;
 display: inline-block;
}

.nav_row {
  background-color: #353535;
  position: relative;
  z-index: 1;
  margin-top: -0.1em;
}

.glyphicon {
  font-size: 2.9em;
  margin-top: 0.3em;
  color: white;
}

.nav_text {
  color: white;
  letter-spacing: 0.05em;
}

.border_under_nav {
  height: 0.5em;
  background-color: #424242;
  margin-top: -0.1em;
}

.main_logo_phone_number_row {
  margin-top: 6em;
}

.application_page_main_logo {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.phone_number_div {
  background-color: grey;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
}

.phone_number_digits {
  padding-top: 0.1em;
  padding-bottom: 0.5em;
  text-shadow: 0px 3px 7px black;
}

.venus_freeze_footer {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}