/*Mobile/Default*/

.blogs_home_heading {
  text-shadow: 0px 0px 9px black;
}

.blog_search_div {
  background-color: #D3BFBF;
  margin-top: -0.3em;
}

.search_blogs_heading {
  text-shadow: 0px 0px 9px black;
}

.search_blogs_input {
  margin-bottom: 1em;
}

.blog_search_date {
  color: black;
  text-shadow: 0px 0px 9px black;
}

.blog_search_title {
  font-size: 1.1em;
  margin-top: -0.5em;
  color: #FF8F8F;
  background-color: black;
  padding: 0.5em;
  letter-spacing: 0.03em;
}

.blog_search_category {
  color: black;
  margin-top: -0.4em;
}

.spa_room_image {
  width: 100%;
  margin-top: 4em;
  margin-bottom: 2em;
}

.recent_blogs_heading {
 text-shadow: 0px 0px 9px black;
}

.blog_recentBlogs_date {
  color: black;
  margin-top: 2em;
}

.blog_recentBlogs_title {
  font-size: 1.1em;
  margin-top: -0.5em;
  color: #0F8591;
  letter-spacing: 0.03em;
  background-color: black;
  padding: 0.5em;
}

.blog_recentBlogs_description {
  color: black;
}

.blogs_index {
  margin-top: 2em;
}

.blog_index_heading {
  background-color: black;
  color: white;
  padding: 0.5em;
}


@media (min-width: 0px) and (max-width: 767px) {
    .soothingCandleImage_div {
    display: none;
  }
}




/*Tablet*/

@media (min-width: 768px) and (max-width: 991px) {

  .soothingCandleImage_div {
    display: none;
  }

  .blog_home_logout {
    font-size: 2em;
  }

  .user_session_signedInAs_txt {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .user_session_email {
    word-wrap: break-word;
  }

  .search_blogs_heading {
    font-size: 5em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .search_blogs_label {
    font-size: 2em;
  }

  .search_blogs_input {
    width: 100%;
    padding: 1em;
    font-size: 2em;
  }

  .blog_search_div {
    margin-top: -0.7em;
  }

  .blog_search_date {
    font-size: 2em;
  }

  .blog_search_title {
    font-size: 2em;
  }

  .recent_blogs_heading {
    font-size: 5em;
  }

  .blog_recentBlogs_date {
    font-size: 2em;
  }

  .blog_recentBlogs_title {
    font-size: 1.5em;
  }

  .blog_recentBlogs_description {
    font-size: 2em;
  }

  .blog_index_heading {
    font-size: 2em;
  }

  .blog_category_links {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .blog_months_links {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .archives_index_blog_title {
    font-size: 2em;
    margin-bottom: 1em;
  }

    .blogs_index {
    margin-top: 10em;
    margin-bottom: 5em;
  }
}





/*Desktop*/

@media (min-width: 992px) {
  .blog_home_logout, .user_session_signedInAs_txt, .search_blogs_label, .blog_search_date, .blog_search_title, .blog_recentBlogs_date, .blog_recentBlogs_title, .blog_recentBlogs_description {
    font-size: 1.5em;
  }

  .user_session_signedInAs_txt {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .search_blogs_label {
    margin-top: 1em;
  }

  .blog_search_div {
    margin-top: -0.7em;
  }

  .blog_index_heading {
    width: 100%
  }

  .blogs_index {
    margin-top: 10em;
    margin-bottom: 5em;
  }

  .blog_category_links, .blog_months_links, .archives_index_blog_title {
    font-size: 1.2em;
  }

  .soothingSpaCandle_image, .soothingSpaCandle_image_02, .soothingSpaCandle_image_03 {
    width: 100%;
  }

  .soothingSpaCandle_image_02, .soothingSpaCandle_image_03 {
    margin-top: 1em;
  }

}
