/*Mobile/Default*/

.gallery_heading {
  text-shadow: 0px 0px 9px black;
}

.below_gallery_header_text  {
margin-bottom: 1.5em;
}

.default_before_after_images {
  width: 100%;
  margin-bottom: 2em;
}








/*Tablet*/

@media (min-width: 768px) and (max-width: 1024px) {
  .gallery_heading {
    font-size: 5em;
  }

  .below_gallery_header_text {
    font-size: 2em;
  }
}