/*Mobile/Default*/

.procedures_heading {
  text-shadow: 0px 0px 9px black;
}

.procedure_text {
  position: absolute;
  font-size: 2.5em;
  margin-top: 1.5em;
  text-align: center;
  width: 100%;
  text-shadow: 0px 0px 10px white;
  color: black;
}

.procedure_image {
  width: 100%;
  margin-top: 3em;
}

.procedure_price {
  position: absolute;
  font-size: 2em;
  margin-top: -1.4em;
  margin-left: -1em;
  text-align: right;
  width: 100%;
  text-shadow: 0px 0px 5px white;
  color: black;
}





/*Tablet*/
@media (min-width: 768px) and (max-width:991px){
  .procedures_heading {
    font-size: 5em;
  }

  .procedure_text {
    font-size: 4.2em;
  }

  .procedure_price {
    font-size: 3.7em;
  }
}




/*Desktop*/

@media (min-width: 992px) {
  .procedures_heading {
    margin-bottom: 1em;
  }

  .procedure_text {
    font-size: 3em;
  }

  .procedure_price {
    font-size: 2em;
  }

}